/*
 * File: ProjectCard.css
 * Project: portfolio
 * File Created: Friday, 20th October 2023 5:29:33 pm
 * Author: Jackson Thounaojam (jackson.thounaojam@mutualmobile.com)
 * -----
 * Last Modified: Friday, 20th October 2023 7:12:49 pm
 * Modified By: Jackson Thounaojam (jackson.thounaojam@mutualmobile.com)
 * -----
 * Copyright 2020 - 2023 Mutual Mobile, Mutual Mobile
 */
.name-txt{
    font-family: 'Unica One', sans-serif;
    font-size: 3rem;
    color:var(--text-color) !important;
}

.description-txt{
    font-family: 'Roboto Mono', monospace;
}

.img-project{
    position:'relative' !important;
    background-color:#000  !important;
    cursor:'pointer' !important
}