/*
 * File: Banner.css
 * Project: portfolio
 * File Created: Friday, 20th October 2023 4:11:53 pm
 * Author: Jackson Thounaojam (jackson.thounaojam@mutualmobile.com)
 * -----
 * Last Modified: Friday, 20th October 2023 5:02:29 pm
 * Modified By: Jackson Thounaojam (jackson.thounaojam@mutualmobile.com)
 * -----
 * Copyright 2020 - 2023 Mutual Mobile, Mutual Mobile
 */
.banner-container{
    width: 100%;
    height: 700px;
    background-position: 50% 50%; 
    background-image: url("https://media.journoportfolio.com/users/305793/images/97f4938d-d08b-44e9-ba02-aab2a8932fbf.png&quot");
    background-color:var(--primary);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-txt{
    font-family: 'Roboto Mono', monospace;
}