/*
 * File: About.css
 * Project: portfolio
 * File Created: Saturday, 21st October 2023 12:16:14 am
 * Author: Jackson Thounaojam (jackson.thounaojam@mutualmobile.com)
 * -----
 * Last Modified: Saturday, 21st October 2023 12:25:39 am
 * Modified By: Jackson Thounaojam (jackson.thounaojam@mutualmobile.com)
 * -----
 * Copyright 2020 - 2023 Mutual Mobile, Mutual Mobile
 */
.about-banner{
    color:var(--text-color) !important;
    font-size: 4rem;
}
.about-txt{
    
    font-family: 'Roboto Mono', monospace;
}
